<AuthorizeView Policy=@Permission>
    <Authorized>
        <PageHeader BackIcon="true" Ghost="false" 
                    OnBack="@(OnBackAsync)"
                    PageHeaderTags="@Tags"
                    PageHeaderExtra="@HeaderExtra">
            <PageHeaderTitle>@Title</PageHeaderTitle>
        </PageHeader>
        <Content Class="site-content">
            @ChildContent
        </Content>
    </Authorized>
    <NotAuthorized>
        Отказано в доступе.
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public RenderFragment SubTitle { get; set; }
    
    [Parameter]
    public RenderFragment Tags { get;set; }
    
    [Parameter]
    public RenderFragment HeaderExtra { get;set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Permission { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }


    private async Task OnBackAsync()
    {
        var uri = NavigationManager.Uri;

        while (NavigationManager.Uri == uri)
            await JSRuntime.InvokeVoidAsync("history.go", -1);
    }
}