@inject NavigationManager NavigationManager

<AuthorizeView Policy=@ListPermission>
    <Authorized Context="ctx">

        <PageHeader Ghost="false">
            <PageHeaderTitle>@Title</PageHeaderTitle>
            <PageHeaderExtra>
                @if (!string.IsNullOrEmpty(NewItemUrl))
                {
                    <AuthorizeView Policy="@AddPermission">
                        <Authorized>
                            @if (!string.IsNullOrEmpty(NewItemUrl))
                            {
                                <Button OnClick="AddItem" Style="margin-top:16px" Icon="plus">
                                    Создать
                                </Button>
                            }
                        </Authorized>
                    </AuthorizeView>
                }
                @PageHeaderExtraContent
            </PageHeaderExtra>

            <PageHeaderContent>
                @if (OnSearch.HasDelegate)
                {
                    @if (PageSearchExtraContent != default)
                    {
                        @PageSearchExtraContent
                        <br/>
                    }
                    <Search Placeholder="Введите поисковый запрос" OnSearch="@OnSearch" Size="@InputSize.Large" EnterButton="@("Найти")" @bind-Value="@Query" OnChange="QueryChanged"/>
                }
            </PageHeaderContent>
        </PageHeader>
        <Content Class="site-content">
            @ChildContent
        </Content>
    </Authorized>
    <NotAuthorized>
        Отказано в доступе
    </NotAuthorized>
</AuthorizeView>


@code {

    [Parameter]
    public string Query { get; set; }

    [Parameter]
    public EventCallback<string> QueryChanged { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment PageHeaderExtraContent { get; set; }

    [Parameter]
    public RenderFragment PageSearchExtraContent { get; set; }

    [Parameter]
    public string NewItemUrl { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    [Parameter]
    public string ListPermission { get; set; }

    [Parameter]
    public string AddPermission { get; set; }

    private void AddItem()
    {
        NavigationManager.NavigateTo(NewItemUrl);
    }

}