@typeparam TItem
@typeparam TItemValue
@typeparam TQuery
@inherits AntInputComponentBase<TItemValue>

<Select name="@DomName"
        TItem="TItem"
        TItemValue="TItemValue"
        ItemTemplate="ItemTemplate"
        EnableSearch="@EnableSearch"
        Placeholder="@Placeholder"
        Disabled="@Disabled"
        DataSource="Items"
        OnSearch="OnSearch"
        SearchDebounceMilliseconds="300"
        OnSelectedItemChanged="OnSelectedItemChanged"
        ValueName="@ValueName"
        LabelName="@LabelName"
        Loading="@IsLoading"
        OnFocus="OnFocus"
        @bind-Value="Value"
        Style="width: 100%">
</Select>